<% include partials/header %>
<% include nav/main %>

<style>
header   {font-size: 14px;  font-weight: bold; text-decoration: underline;}
under {text-decoration: underline;}
small {font-size: 12.6px; }
</style>


<div id="wrapper">
  <div class="normalheader ">
    <div class="hpanel">
      <div class="panel-body">
        <a class="small-header-action" href="">
          <div class="clip-header">
            <i class="fa fa-arrow-up"></i>
          </div>
        </a>
        <h2 class="font-light m-b-xs">
            Metrics
        </h2>
      </div>
    </div>
  </div>

<div class="content animate-panel">
<div class="row">
<div class="col-md-9">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
					<div class="projects">
							<div class="col-lg-4">
									<div class="hpanel hgreen contact-panel">
                    <div id="loc" class="panel-body" onclick="changeMorInfo('loc');chBackcolor('loc');">
											<h5><under>LOC summary</under></h5></br>
											<div class="text-muted font-bold m-b-xs">
											<p><b>COBOL LOC:</b> 2,512,903</p>
											<p><b>JCL LOC:</b> 308,453</p>
											<p><b>Assembler LOC:</b> 192,384</p>
                      <p><b>Other LOC:</b> 54,102</p></br>
										</div>
										</div>
									</div>
							</div>
					</div>
					<div class="projects">
							<div class="col-lg-4">
									<div class="hpanel hgreen contact-panel">
                    <div id="interface" class="panel-body" onclick="changeMorInfo('interfaces');chBackcolor('interface');">
											<h5><under>Interfaces summary</under></h5></br>
											<div class="text-muted font-bold m-b-xs">
											<p><b>ABC: 903</b></p>
											<p><b>DEF: 453</b></p>
											<p><b>XYZ: 384</b></p>
                      <p><b>Other: 732</b></p></br>
										</div>
										</div>
									</div>
							</div>
					</div>
					<div class="projects">
							<div class="col-lg-4">
									<div class="hpanel hgreen contact-panel" id="three">
                    <div id="tpp" class="panel-body" onclick="changeMorInfo('tpp');chBackcolor('tpp');">
												<h5><under>TPP summary</under></h5></br>
												<div class="text-muted font-bold m-b-xs">
												<under>Top 3:</under></br>
												1. IBM IMS</br>
												<small>2. Enterprise COBOL (z/OS)</small></br>
                        3. Windows Service(Linus)</br>
										</div>
										</div>
									</div>
							</div>
					</div>
      </div>
    </div>
  </div>

  <div class="row">
          <div class="col-lg-12">
            <div class="hpanel hgreen">
              <div class="panel-heading">
                <div class="panel-tools">
                  <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                  <a class="closebox"></a>
                </div>
                <h4><b>Visualizations</b></h4>
              </div>
              <div class="panel-body list">
                <div class="pull-right">

                  <button class="btn btn-xs btn-default" onclick="showCharts()"> Charts</button>
                  <button class="btn btn-xs btn-default" onclick="showSemoss()"> SEMOSS</button>
                </div>
                <br>
                <div class="panel-title"></div>
              </br>
              <div id="charts" >
                <!-- loc pie chart -->
                <div class="col-md-4" align="center" onclick="openLOCChart()">
                  <div id="loc-pie-chart" style="width: 200px; height: 200px"></div></br>
                  <b>Lines Of Code Complexity</b><br><br>
                </div>
                <!-- The Modal -->
                <div id="loc-modal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close"></span>
                      <h4><b>Lines Of Code Complexity Graph</b></h4><br><br>
                    </div>
                    <div class="model-body">
                      <div id="big-loc-chart" style="width: 550px; height: 400px; margin:0 auto"></div>
                    </div>
                  </div>
                </div>

                <!-- interface pie chart -->
                <div class="col-md-4" align="center" onclick="openInterfaceChart()">
                  <div id="interface-pie-chart" style="width: 200px; height: 200px"></div></br>
                  <b>Type of Interfaces</b>
                </div>
                <!-- The Modal -->
                <div id="interface-modal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close"></span>
                      <h4><b>Type of Interfaces Graph</b></h4><br><br>
                    </div>
                    <div class="model-body">
                      <div id="big-interface-chart" style="width: 550px; height: 400px; margin:0 auto"></div>
                    </div>
                  </div>
                </div>

                <!-- tpp summary pie chart -->
                <div class="col-md-4" align="center" onclick="openTPPChart()">
                  <div id="stacked-bar" style="width: 200px; height: 200px"></div></br>
                  <b>Third Party Products</b>
                </div>
              </div>
              <!-- The Modal -->
              <div id="tpp-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="close"></span>
                    <h4><b>Third Party Products Graph</b></h4>
                  </div>
                  <div class="model-body">
                    <div id="big-tpp-chart" style="width: 500px; height: 400px; margin:0 auto"></div>
                  </div>
                </div>
              </div>

              <!-- semoss stuff -->
              <div id="semoss" style="display: none;">
                <iframe frameborder="0" width="100%" height="600" style="border: 1px solid #ccc;"src="http://localhost:8080/SemossWeb/#!/insight?type=single&engine=call_chain_demo&id=dca0ab7d-20a3-4878-b6b8-eb147fc0b348&panel=0"></iframe>
              </div>
            </div>

          </div>
        </div>
      </div>
</div>

<div class="projects">
  <div class="col-md-3">
    <div class="hpanel hgreen contact-panel">
      <div class="panel-body">
        <div class="m-b-md" id="moreinfotab">
          <h5>
              More Information
          </h5></br>
				   <p>
                Select a report to view more information
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<footer class="footer">
<span class="pull-right">
  The_ReFactory
</span> Company @2017
</footer>
</div>

<script type= "text/javascript">
function changeMorInfo(val) {
var info = document.getElementById("moreinfotab");
info.innerHTML = "Select a report to view more information";
if (val == "loc") {
info.innerHTML = "<h5>More Information: LOC</h5></br><p><span><header>Nodes by Complexity</header>"
                  +"&nbsp;<b>Easy:</b> 51,597</br>"
                  +"&nbsp;<b>Complex:</b> 37,215</br>"
                  +"&nbsp;<b>Very Complex:</b> 135,329</br>"
                  +"&nbsp;<b>Unmaintainable:</b> 1,377,544</br>"
                  +"&nbsp;<b>Total:</b> 1,601,685</br></span></p></br>"+
      				"<p><span><header>LOC by Complexity:</header>"
      							+"&nbsp;<b>Easy:</b> 81,325</br>"
      							+"&nbsp;<b>Complex:</b> 25,561</br>"
      							+"&nbsp;<b>Very Complex:</b> 83,991</br>"
      							+"&nbsp;<b>Unmaintainable:</b> 1,072,480</br>"
      							+"&nbsp;<b>Total:</b> 1,179,336</br></br>"+
              "<p><span><header>LOC by Prefix:</header>"
      							+"&nbsp;<b>HDB:</b> 624,837</br>"
      							+"&nbsp;<b>HIQ:</b> 237,017</br>"
      							+"&nbsp;<b>MPR:</b> 259,894</br>"
      							+"&nbsp;<b>NDQ:</b> 57,618</br>"
                    +"</br><div align='right'><a href=\"/client/show_details\"<b><under>See More >></under></b></div>";
}
if (val == "interfaces") {
info.innerHTML = "<h5>More Information: Interfaces</h5></br><p><span><header>Interface Observations:</header>"
                  +"<b>Unique Interfaces:</b> 17</br>"
                  +"<b>Interface Occurrences:</b> 33</br>"
                  +"<b>COBOL Interfaces: </b></br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;628 modules</br>"
                  +"<b>JCL Interfaces:</b></br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 44 execs</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 120 job details</br></br>"+
              "<p><span><header>Inbound Interfaces:</header>"
                    +"1. Adjudication</br>"
                    +"2. Mixer</br>"
                    +"3. Modeler</br>"
      							+"4. GNCONTRS</br>"
      							+"5. IYM9000A</br>"
      							+"6. Provider</br>"
      							+"7. Fault Analyzer</br></br>"+
      				"<p><span><header>Outbound Interfaces:</header>"
      							+"1. AEPS</br>"
      							+"2. Claims</br>"
                    +"</br><div align='right'><a href=\"/client/show_details\"<b><under>See More >></under></b></div>";
}
if (val == "tpp") {
info.innerHTML = "<h5>More Information: TPP</h5></br><b>TPP by Data Layer</b></br></br><p><span><header>Service Layer:</header>"
                  +"1. <b>Enterprise COBOL for</b></br>"
                  +"&nbsp;&nbsp;&nbsp;&nbsp;<b>z/OS (ABE):</b> 97</br>"
                  +"2. <b> Windows Service for</b></br>"
                  +"&nbsp;&nbsp;&nbsp;&nbsp;<b>Linux (WSL):</b>93</br>"
                  +"3. <b>System Error (SYS):</b> 5</br>"
                  +"  4. <b>WGM:</b> 4</br>"
                  +"5. <b>IBM Utility (CEE):</b> 2</br>"
                  +"6. <b>MedAccess Components:</b> 1</br></br>"
            +"<p><span><header>Data Layer:</header>"
                  +"1. <b>IBM IMS (AIB, CBL, DLI):</b></br>&nbsp;&nbsp;&nbsp;&nbsp; 2,493</br>"
                  +"2. <b>IBM tableBASE (TBC):</b> 9</br>"
                  +"3. <b>NTIS-MS CRG (D99):</b> 3</br>"
                  +"4. <b>DB2 Data Access</b> </br>"
                  +"&nbsp;&nbsp;&nbsp;&nbsp;<b>(DSN, NDB):</b> 2</br>"
                  +"</br><div align='right'><a href=\"/client/show_details\"<b><under>See More >></under></b></div>";
          }
  }

  function chBackcolor(id) {
    if(id === 'loc'){
     document.getElementById("loc").style.border="5px solid #b3b3b3";
     document.getElementById("interface").style.border="";
     document.getElementById("tpp").style.border="";
   }else if(id === 'interface'){
     document.getElementById("interface").style.border="5px solid #b3b3b3";
     document.getElementById("loc").style.border="";
     document.getElementById("tpp").style.border="";
   }else if(id === 'tpp'){
     document.getElementById("tpp").style.border="5px solid #b3b3b3";
     document.getElementById("interface").style.border="";
     document.getElementById("loc").style.border="";
   }
  }
function showCharts(){
  var charts = document.getElementById("charts");
  var semoss = document.getElementById("semoss");
  if (charts.style.display === "none") {
      charts.style.display = "block";
      semoss.style.display = "none";
  }

}
function showSemoss(){
  var charts = document.getElementById("charts");
  var semoss = document.getElementById("semoss");
  if (semoss.style.display === "none") {
      semoss.style.display = "block";
      charts.style.display = "none";
  }
}

// Get the modal
var modal1 = document.getElementById('loc-modal');
var modal2 = document.getElementById('interface-modal');
var modal3 = document.getElementById('tpp-modal');

// Get the button that opens the modal
//var btn = document.getElementById("loc-pie-chart");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
function openLOCChart() {
    modal1.style.display = "block";
}

function openInterfaceChart() {
    modal2.style.display = "block";
}

function openTPPChart() {
    modal3.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal1.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    } else if (event.target == modal2) {
        modal2.style.display = "none";
    } else if (event.target == modal3) {
        modal3.style.display = "none";
    }
}
</script>
<% include partials/footer %>
<script>
$(function() {

  // Flot chart data and options

  // LOC Pie chart
  var dataSet = [
  {label: "Easy", data: 6.76, color: "#62cb31" },
  { label: "Complex", data: 2.09, color: "#0097A9" },
  { label: "Very Complex", data: 7.48, color: "#62B5E5" },
  { label: "Unmaintainable", data: 83.67, color: "#9d9d99" },
  ];

  var options = {
    series: {
        pie: {
            show: true,
            label: {
                show: false,
                radius: 5,
                formatter: function (label, series) {
                    return '<div style="border:1px solid white;font-size:6pt;padding:5px;color:black;">' +
                    label + ' : ' +
                    series.data[0][1] +
                    '%</div>';
                },
                background: {
                    opacity: 0.8,
                    color: '#000'
                }
            }
        }
    },
    legend: {
        show: false
    },
    grid: {
        hoverable: false
    }
  };
  $.plot($("#loc-pie-chart"), dataSet,options);
  //////////////////////////


  var options1 = {
    series: {
        pie: {
            show: true,
            label: {
                show: true,
                radius: 180,
                formatter: function (label, series) {
                    return '<div style="font-size:7pt;padding:5px;color:black;">' +
                    label + ' : ' +
                    series.data[0][1] +
                    '%</div>';
                },
                background: {
                    opacity: 0,
                    color: '#ffffff'
                }
            }
        }
    },
    legend: {
        show: true
    },
    grid: {
        hoverable: false
    }
  };
  $.plot($("#big-loc-chart"), dataSet,options1);

  // Interface Pie Chart
  var dataSet = [
  {label: "Inbound", data: 17, color: "#62B5E5" },
  { label: "Outbound", data: 6, color: "#6a6a65" },
  ];

  var options = {
    series: {
        pie: {
            show: true,
            label: {
                show: false,
                radius: 5,
                formatter: function (label, series) {
                    return '<div style="border:1px solid grey;font-size:6pt;padding:5px;color:white;">' +
                    label + ' : ' +
                    series.data[0][1] +
                    '</div>';
                },
                background: {
                    opacity: 0,
                    color: '#000'
                }
            }
        }
    },
    legend: {
        show: false
    },
    grid: {
        hoverable: false
    }
  };
  $.plot($("#interface-pie-chart"), dataSet,options);
  ///////////////////////////

  var options1 = {
    series: {
        pie: {
            show: true,
            label: {
                show: true,
                radius: 180,
                formatter: function (label, series) {
                    return '<div style="font-size:7pt;padding:5px;color:black;">' +
                    label + ' : ' +
                    series.data[0][1] +
                    '</div>';
                },
                background: {
                    opacity: 0,
                    color: '#000'
                }
            }
        }
    },
    legend: {
        show: true
    },
    grid: {
        hoverable: false
    }
  };
  $.plot($("#big-interface-chart"), dataSet,options1);

  // TPP Stacked bar graph
  var wcs = [
        [0, 1],
    ];

    var medacc = [
        [0, 1],
    ];

    var wgm = [
        [0, 4],
    ];
    var ibmutil = [
        [0, 2],
    ];
    var syserr= [
        [0, 5],
    ];
    var wsl = [
        [0, 93],
    ];
    var abe = [
        [0, 97],
    ];
    var dsn = [
        [2, 2],
    ];
    var d99 = [
        [2, 3],
    ];
    var tbc = [
        [2, 9],
    ];
    var cbl = [
        [2, 240],
    ];
    var xsm = [
        [4, 2],
    ];
    var pnc = [
        [4, 3],
    ];

    var dataset = [{
        label: "WCS",
        data: wcs,
        color: "#62cb31"
    }, {
        label: "HAZ",
        data: medacc,
        color: "#62cb31"
    }, {
        label: "WGM",
        data: wgm,
        color: "#62cb31"
    }, {
        label: "CEE",
        data: ibmutil,
        color: "#62cb31"
    }, {
        label: "SYS",
        data: syserr,
        color: "#0097A9"
    },/* {
        label: "WSL",
        data: wsl,
        color: "#9d9d99"
    }, {
        label: "ABE",
        data: abe,
        color: "#9d9d99"
    },*/ {
        label: "DSN",
        data: dsn,
        color: "#62cb31"
    }, {
        label: "D99",
        data: d99,
        color: "#62cb31"
    }, {
        label: "TBC",
        data: tbc,
        color: "#0097A9"
    }, //{
        //label: "CBL",
        //data: cbl,
        //color: "#9d9d99"
    //},
    {
        label: "XSM",
        data: xsm,
        color: "#62cb31"
    }, {
        label: "PNC",
        data: pnc,
        color: "#62cb31"
    }];

var ticks = [
        [0, "Service "],
        [2, "Data"],
        [4, "Integration"]
    ];


    var options = {
        series: {
            stack: true,
            bars: {
                show: true,
            }
        },
        legend: {
          show: false
        },
        xaxis: {
            ticks:[],
            color: "white",
            axisLabel: "Layers",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 8,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 2
        },
        yaxis: {
            ticks:[],
            color: "white",
            axisLabel: "No of occurrences",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 8,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3,

        },
        grid: {
            hoverable: false,
            borderWidth: 0.1,
            backgroundColor: {
                colors: ["#ffffff", "#ffffff"]
            }
        }
    };

    $(document).ready(function() {
        $.plot($("#stacked-bar"), dataset, options);
    });
    /////////////////////////
    var wcs = [
          [0, 1],
      ];

      var medacc = [
          [0, 1],
      ];

      var wgm = [
          [0, 4],
      ];
      var ibmutil = [
          [0, 2],
      ];
      var syserr= [
          [0, 5],
      ];
      var wsl = [
          [0, 63],
      ];
      var abe = [
          [0, 67],
      ];
      var dsn = [
          [2, 2],
      ];
      var d99 = [
          [2, 3],
      ];
      var tbc = [
          [2, 9],
      ];
      var cbl = [
          [2, 130],
      ];
      var xsm = [
          [4, 2],
      ];
      var pnc = [
          [4, 3],
      ];

      var dataset1 = [{
          label: "WCS",
          data: wcs,
          color: "#62cb31"
      }, {
          label: "HAZ",
          data: medacc,
          color: "#62cb31"
      }, {
          label: "WGM",
          data: wgm,
          color: "#62cb31"
      }, {
          label: "CEE",
          data: ibmutil,
          color: "#62cb31"
      }, {
          label: "SYS",
          data: syserr,
          color: "#0097A9"
      }, {
          label: "WSL",
          data: wsl,
          color: "#9d9d99"
      }, {
          label: "ABE",
          data: abe,
          color: "#9d9d99"
      }, {
          label: "DSN",
          data: dsn,
          color: "#62cb31"
      }, {
          label: "D99",
          data: d99,
          color: "#62cb31"
      }, {
          label: "TBC",
          data: tbc,
          color: "#0097A9"
      }, {
          label: "CBL",
          data: cbl,
          color: "#9d9d99"
      },
      {
          label: "XSM",
          data: xsm,
          color: "#62cb31"
      }, {
          label: "PNC",
          data: pnc,
          color: "#62cb31"
      }];

      var options1 = {
          series: {
              stack: true,
              bars: {
                  show: true,
              }
          },
          legend: {
            show: true,
            noColumns: 3
          },
          xaxis: {
              ticks:ticks,
              color: "white",
              axisLabel: "Layers",
              axisLabelUseCanvas: true,
              axisLabelFontSizePixels: 8,
              axisLabelFontFamily: 'Verdana, Arial',
              axisLabelPadding: 2
          },
          yaxis: {
              color: "white",
              position: "right",
              axisLabel: "No of occurrences",
              axisLabelUseCanvas: true,
              axisLabelFontSizePixels: 5,
              axisLabelFontFamily: 'Verdana, Arial',
              axisLabelPadding: 3,

          },
          grid: {
              hoverable: true,
              borderWidth: 0.5,
              backgroundColor: {
                  colors: ["#ffffff", "#ffffff"]
              }
          }
      };

      $(document).ready(function() {
          $.plot($("#big-tpp-chart"), dataset1, options1);
      });
});

</script>
